<main class="container" *ngIf="entidadBancaria">
    <h2 *ngIf="!codigo">Nueva Entidad</h2>
    <h2 *ngIf="codigo">Editar Entidad</h2>
    <hr>
    <div class="form-group">
        <label for="codigo">Codigo</label>
        <input type="text" class="form-control" id="codigo" [(ngModel)]="entidadBancaria.codigo">
    </div>
    <div class="form-group">
        <label for="codigo">Nombre</label>
        <input type="text" class="form-control" id="nombre" [(ngModel)]="entidadBancaria.nombre">
    </div>
    <div class="form-group">
        <label for="codigo">Dirección</label>
        <input type="text" class="form-control" id="direccion" [(ngModel)]="entidadBancaria.domicilio">
    </div>
    <div class="text-right">
        <button type="submit" class="btn btn-danger mr-3" (click)="cancel()">Cancelar</button>
        <button type="submit" class="btn btn-primary" (click)="save()" [disabled]="loading">Guardar</button>
    </div>
</main>