<main class="container" *ngIf="vigilante">
    <h2 *ngIf="!codigo">Nuevo Vigilante</h2>
    <h2 *ngIf="codigo">Editar Vigilante</h2>
    <hr>
    <div class="form-group">
        <label for="codigo">Codigo</label>
        <input type="text" class="form-control" id="codigo" [(ngModel)]="vigilante.codigo">
    </div>
    <div class="form-group">
        <label for="codigo">Fecha de Nacimiento</label>
        <input type="text" class="form-control" id="edad" [(ngModel)]="vigilante.fechaNac">
    </div>
    <div class="form-group">
        <label for="codigo">Nombre</label>
        <input type="text" class="form-control" id="nombre" [(ngModel)]="vigilante.nombre">
    </div>
    <div class="form-group">
        <label for="codigo">Usuario</label>
        <input type="text" class="form-control" id="usuario" [(ngModel)]="vigilante.usuario">
    </div>

    <!-- div class="form-group">
        <label for="codigo">Contraseña</label>
        <input type="text" class="form-control" id="usuario" [(ngModel)]="contraseña">
    </div> -->


    <div class="text-right">
        <button type="submit" class="btn btn-danger mr-3" (click)="cancel()">Cancelar</button>
        <button type="submit" class="btn btn-primary" (click)="save()" [disabled]="loading">Guardar</button>
    </div>
</main>