<main class="container" *ngIf="asalto">
    <h2 *ngIf="!id">Nueva Entidad</h2>
    <h2 *ngIf="id">Editar Entidad</h2>
    <hr>
    <div class="form-group">
        <label>Juez</label>
        <select class="form-control" [(ngModel)]="asalto.codigoJuez">
            <option [ngValue]="null">Sin asignación</option>
            <option *ngFor="let juez of jueces" [ngValue]="juez.codigo">
                {{juez.nombre}}
            </option>
        </select>
    </div>

    <div class="form-group">
        <label>Sucursal</label>
        <select class="form-control" [(ngModel)]="asalto.codigoSucursal">
            <option [ngValue]="null">Sin asignación</option>
            <option *ngFor="let sucursal of sucursales" [ngValue]="sucursal.codigo">
                {{sucursal.codigo}}
            </option>
        </select>
    </div>

    <div class="form-group">
        <label for="">Fecha</label>
        <input type="date" class="form-control" [(ngModel)]="asalto.fecha" aria-describedby="helpId">
    </div>

    <delincuentes-choose-list [selectedDelincuentes]="delincuentes" [showButtons]="false"
        (itemsChanged)="itemsChanged($event)"></delincuentes-choose-list>

    <div class="text-right">
        <button type="submit" class="btn btn-danger mr-3" (click)="cancel()">Cancelar</button>
        <button type="submit" class="btn btn-primary" (click)="save()" [disabled]="loading">Guardar</button>
    </div>
</main>