<main class="container">
    <button *ngIf="authService.currentUser.rolID ==1" type="button" class="btn btn-primary float-right" (click)="edit()">Crear Nueva Banda</button>
    <h1 class="mb-5">Bandas</h1>
    <table class="table table-pointer table-hover" *ngIf="bandas">
        <thead>
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Miembros</th>
                <th scope="col" style="width: 80px;"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let banda of bandas">
                <th scope="row">{{ banda.codigoBanda}}</th>
                <td>{{banda.nroDeMiembros}}</td>
                <td scope="col">
                    <i *ngIf="authService.currentUser.rolID ==1" (click)="edit(banda)" class="mr-3 fa fa-edit text-secondary showOnHover" aria-hidden="true"></i>
                    <i *ngIf="authService.currentUser.rolID ==1" (click)="delete($event, banda)" class="fa fa-trash text-danger showOnHover"
                        aria-hidden="true"></i>
                </td>
            </tr>
        </tbody>
    </table>
</main>