<main class="container">
    <img src="assets/Logo_Policía_Federal_Argentina3.png" class="rounded float-right" style="width: 200px; height: 200px;">
    <h1 class="display-6">PFA: SISEMA DE GESTION</h1>    
    <br><br><br><br><br><br><br>
    
    <div class="form-group">
        <label for="">Usuario</label>
        <input type="text" class="form-control" [(ngModel)]="credentials.username">
    </div>

    <div class="form-group">
        <label for="">Contraseña</label>
        <input type="text" class="form-control" type="password" [(ngModel)]="credentials.password">
    </div>

    <button type="button" class="btn btn-primary" (click)="login()">Login</button>
</main>