<main class="container">
    <button *ngIf="authService.currentUser.rolID ==1" type="button" class="btn btn-primary float-right" (click)="edit()">Crear Nuevo Juez</button>
    <h1 class="mb-5">Jueces</h1>
    <table class="table table-pointer table-hover" *ngIf="jueces">
        <thead>
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Nombre</th>
                <th scope="col">Fecha de Ingreso</th>
                <th scope="col">Años de Servicio</th>
                <th scope="col" style="width: 80px;"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let juez of jueces">
                <th scope="row">{{ juez.codigo}}</th>
                <td>{{juez.nombre}}</td>
                <td>{{juez.fechaDeIngreso | date}}</td>
                <td>{{getConta(juez)}}</td>
                <td scope="col">
                    <i *ngIf="authService.currentUser.rolID ==1" (click)="edit(juez)" class="mr-3 fa fa-edit text-secondary showOnHover" aria-hidden="true"></i>
                    <i *ngIf="authService.currentUser.rolID ==1" (click)="delete($event, juez)" class="fa fa-trash text-danger showOnHover"
                        aria-hidden="true"></i>
                </td>
            </tr>
        </tbody>
    </table>
</main>