<main class="container">
    <button type="button" class="btn btn-primary float-right" (click)="edit()">Crear Nueva Contratacion</button>
    <h1 class="mb-5">Contrataciones</h1>
    <table class="table table-pointer table-hover" *ngIf="contrataciones">
        <thead>
            <tr>
                <th scope="col">Codigo de sucursal</th>
                <th scope="col">Codigo de Vigilante</th>
                <th scope="col">Fecha</th>
                <th scope="col">Armas</th>
                <th scope="col" style="width: 80px;"></th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let contratacion of contrataciones">
                <th scope="row">{{ contratacion.codigoSucursal}}</th>
                <td>{{contratacion.codigoVigilante}}</td>
                <td>{{contratacion.fecha}}</td>
                
                
                
                <td>{{contratacion.armas ? 'Si' : 'No'}}</td>
                
                <td scope="col">
                    <i (click)="edit(contratacion)" class="mr-3 fa fa-edit text-secondary showOnHover"
                        aria-hidden="true"></i>
                    <i (click)="delete($event, contratacion)" class="fa fa-trash text-danger showOnHover"
                        aria-hidden="true"></i>
                </td>
               
            </tr>
        </tbody>
        
    </table>
</main>