<main class="container" *ngIf="delincuente">
    <h2 *ngIf="!codigo">Nueva Entidad</h2>
    <h2 *ngIf="codigo">Editar Entidad</h2>
    <hr>
    <div class="form-group">
        <label for="codigo">Codigo</label>
        <input type="text" [disabled]="codigo" class="form-control" id="codigo" [(ngModel)]="delincuente.codigo">
    </div>
    <div class="form-group">
        <label for="codigo">Nombre</label>
        <input type="text" class="form-control" id="nombre" [(ngModel)]="delincuente.nombre">
    </div>
    <div class="form-group">
        <label>Banda</label>
        <select class="form-control" [(ngModel)]="delincuente.codigoBanda">
            <option [ngValue]="null">Sin asignación</option>
            <option *ngFor="let banda of bandas" [ngValue]="banda.codigoBanda">
                {{banda.codigoBanda}}
            </option>
        </select>
    </div>
    
    <div class="form-group">
        <div class="form-check">
            <label class="form-check-label">
                <input type="checkbox" class="form-check-input" [(ngModel)]="delincuente.detenido">
                Detenido
            </label>
        </div>
    </div>
    <div class="text-right">
        <button type="submit" class="btn btn-danger mr-3" (click)="cancel()">Cancelar</button>
        <button type="submit" class="btn btn-primary" (click)="save()" [disabled]="loading">Guardar</button>
    </div>
</main>