/* You can add global styles to this file, and also import other style files */
.container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.table-pointer > tbody > * {
  cursor: pointer;
}

.showOnHover {
    z-index: 10;
}

button.showOnHover {
  padding: 0px 0px;
}

td > .showOnHover {
  display: none;
}
tr:hover td > .showOnHover {
  display: inline-block;
}
